img {
    width: 30%;
    /* margin: 1.6666%; */
    margin: calc(10%/6);
    /* 6 comes by counting the left and right sides of the three adjacent images.*/
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1em 0;
    /*By using em for padding it become relative to font size. */

    font-family: "Rubik Vinyl", serif;
    font-weight: 800;
    font-size: 2em;
}

/* .rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }
   */

/* body {
    font-family: "Rubik Vinyl", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2em;
} */